body {
    font-family: Arial, sans-serif;
    background: #8cb1ed;
    color: white;
    margin: 2;
}

header {
    background: #7299b8;
    color: white;
    padding: 16px;
}

select {
    background: #7299b8;
    padding: 4px;
    border: none;
    border-radius: 4px;
    color: white;
}

nav a {
    color: #7299b8;
    margin-right: 16px;
    text-decoration: none;
}

main {
    padding: 16px;
}

.entry {
    background: white;
    padding: 16px;
    margin-bottom: 8px;
    border-radius: 4px;
}

form input, form textarea {
    color: #7299b8;
    width: 95%;
    margin-bottom: 8px;
    padding: 8px;
}

button {
    background: #357db5;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
